<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>AZ {{ az }}</title>
</head>


<body>
    <h1>Example Index</h1>
    <p>Hello, World!</p>
    <p>You are in AZ {{ az }}.</p>
</body>


</html>
